<header class="nav">
  <div class="container nav-inner">
    <a class="brand" href="/">
      <span
        ><img
          src="https://cdn-icons-png.flaticon.com/512/4365/4365945.png"
          width="45"
          height=""
      /></span>
      <span class="badge">Portafolio Personal</span>
    </a>

    <input
      type="checkbox"
      id="menu-toggle"
      class="nav-toggle"
      aria-label="Abrir menú"
    />
    <label
      for="menu-toggle"
      class="menu-btn"
      aria-label="Menú de navegación"
      aria-controls="site-nav"
    >
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="links" id="site-nav">
      <a href="/#proyectos">Proyectos</a>
      <a href="/#habilidades">Habilidades</a>
      <a href="/#sobre-mi">Sobre mí</a>
      <a href="/contacto/">Contacto</a>
    </nav>
  </div>
</header>
